<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list>
                    <ion-list-header>Inbox</ion-list-header>
                    <ion-note>hi@ionicframework.com</ion-note>
                    <ion-menu-toggle autoHide="false"
                                     *ngFor="let p of appPages; let i = index">
                        <ion-item *ngIf="p.showInSidemenu"
                                  [routerLink]="[p.url]"
                                  routerLinkActive="selected"
                                  routerDirection="root"
                                  lines="none" detail="false">
                            <ion-icon slot="start"
                                      [ios]="p.icon + '-outline'"
                                      [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>

